<div class="card mb-5">
  <div class="card-header">
    <h6>{{name}}</h2>
  </div>
  <div class="card-body">
    <p>{{description}}</p>
    <footer class="blockquote-footer">{{user.name}}</footer>
  </div>
  <div class="card-footer text-muted">
      <p> Posted on {{format_date date_created}}</p>
    </div>
</div>

{{!-- Previous comments --}}
{{#each Comments as |comment| }}
<div class="post card">
    <h1 class="card-header com-header"></h1>

    <p class="card-body">
        {{comment.body}}
    </p>
    <p class="card-body">
        ~ {{../User.username}}, {{format_date ../createdAt}}
    </p>
</div>
{{/each}}

{{!-- Comment submission Allowed only if logged in--}}
{{#if logged_in}}
<div class="post card">
  <div class="card-header">
    <h6>Comment</h6>
  </div>
    <form id="new-comment-form" class="card-body">
        <div>
          <label for="post-body" class="form-label"></label>
          <textarea name="comment-body" type="text" id="post-body" class="form-textarea form-input"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
        <a href="/" class="p-2 btn btn-sm btn-danger">Go Back</a>
    </form>
</div>
{{else}}
<div class="card-body text-center">
    Login to post a comment!
</div>
{{/if}}

<script src="/js/comment.js"></script>